
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.product {
    padding: 10px;
    width: 90%;
    max-width: 300px; 
    justify-content: center;
}

/* @media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .product {
        max-width: 250px; 
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .product {
        max-width: 200px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .product {
        max-width: 150px; 
        justify-content: center;
    }
} */